.footer {
    color: $menu-text-color;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    opacity: 0.7218424677848816;
    border-top: 1px solid #d9fff5;
    &__content {
      height: 147px;
      padding: 16px 0 19px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (min-width: 768px) {
        display: grid;
        grid-template-columns:repeat(3, 220px);
      }
    }
    &__team {
      @media (min-width: 768px) {
      text-align: start;
      }
    }
    &__info {
      @media (min-width: 768px) {
        text-align: end;
      }
    }
  }